@charset "utf-8";

body{
  background: #000000;
}

#logo{
  position: relative;
  width: 350px;
  height: 150px;
  left: 500px;
 
}

#menu{
  position: absolute;
  width: 1365px;
  height: 50px;
  left: 0px;
  top: 160px;
  background: #FDF5E6;
}