body {
  background-color: #000000;
}
.navbar li {

  padding: 4px;
  text-decoration: none;
  margin-left: 15px;
  border-radius: 5px;

}
.navbar li:hover {
  background: rgb(214, 214, 214);
  color: #ffffff;
}
#menu{
  background-color: #ffffff;
  width: 100%;
  height: 50px;
}
#menu a{
  font-weight: bold;
  color: #E32636;
  margin: 0 55px;
  text-decoration:none; 

}
#menu a:hover{
  color: #ffffff;
}
#logo{
  display: flex;
  justify-content: center;
  margin: 30px 0;

}
#conteudo{
  color: #ffffff;
  margin: 60px 0;
  padding: 0;
}
#resposta{
  position: fixed;
  bottom: 20px;
  left: 20px;
}

p{
  color: #ffff;
}
.footer {
  font-size: 1.2rem;
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 10px 0;
  width: 100%;
  color: white;
  text-align: center;
}


.modal{
  background-color: hsla(0, 0%, 0%, 0.616);
}